* {
  box-sizing: border-box;
}

:root {
  --plyta_color_biala: #ddd;
  --plyta_color_ciemna: #777;
}

.wrapper {
  padding: 0;
  position: relative;
  transform: scale(1);
  transform-origin: left top;
  margin: 2cm 1cm;
  font-family: monospace;
}

.main {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 0;
  position: absolute;
}

.pomocnicza_poziom {
  position: absolute;
  width: calc(100% + 2cm);
  height: 1px;
  left: -1cm;
  /* bottom: 20.8cm; */
  border-bottom: 1px dashed #ccc;
}
.pomocnicza_poziom.prawa {
  width: calc(100% + 1cm);
  left: 0;
}
.pomocnicza_poziom.lewa {
  width: calc(100% + 1cm);
}

.pomocnicza_pion {
  position: absolute;
  height: calc(100% + 4cm);
  width: 1px;
  top: -2cm;
  /* left: 20.8cm; */
  border-left: 1px dashed #ccc;
}
.pomocnicza_pion.dol {
  height: calc(var(--drzwi_wys) + 2cm);
  top: var(--gora_polka_wys);
}
.pomocnicza_pion.gora {
  height: calc(var(--gora_polka_wys) + 2cm);
}

.sizer[data-sizer] {
  --diff_levels: 0.4cm;
  position: absolute;
  height: .75cm;
  transition: all .5s ease; /* development only */
}
.sizer[data-sizer].lvl_1 { height: calc(.75cm); z-index: 3; }
.sizer[data-sizer].lvl_2 { height: calc(.75cm + var(--diff_levels)); z-index: 2; }
.sizer[data-sizer].lvl_3 { height: calc(.75cm + var(--diff_levels) + var(--diff_levels)); z-index: 1; }
.sizer[data-sizer].lvl_4 { height: calc(.75cm + var(--diff_levels) + var(--diff_levels) + var(--diff_levels)) }
.sizer[data-sizer].gora {
  bottom: 100%;
}
.sizer[data-sizer].dol {
  top: 100%;
}
.sizer[data-sizer].lewa {
  left: 0;
  transform: rotate(-90deg);
  transform-origin: left bottom;
}
.sizer[data-sizer].prawa {
  right: 0;
  transform: rotate(-90deg) translate(100%, 100%);
  transform-origin: right bottom;
}
.sizer[data-sizer]::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-width: 0 1px;
}
.sizer[data-sizer].gora::before,
.sizer[data-sizer].lewa::before {
  bottom: 0;
}
.sizer[data-sizer].dol::before,
.sizer[data-sizer].prawa::before {
  top: 0;
}
.sizer[data-sizer]::after {
  /*content: attr(data-sizer);*/
  position: absolute;
  left: 0;
  width: 100%;
  height: .5cm;
  border-bottom: 1px dashed red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.sizer[data-sizer].gora::after,
.sizer[data-sizer].lewa::after {
  top: -0.25cm;
}
.sizer[data-sizer].dol::after,
.sizer[data-sizer].prawa::after {
  bottom: 0.25cm;
}
.sizer[data-sizer].sciana_skos::before,
.sizer[data-sizer].sciana_skos::after {
  transform: rotate(-27.5deg);
  transform-origin: left top;
  /* width: 11.2cm; */
}
.sizer[data-sizer-value]::after {
  content: attr(data-sizer-value);
}

.doors {
  position: absolute;
  width: var(--drzwi_sze);
  height: var(--drzwi_wys);
  bottom: 0;
  left: var(--lewa_polka_sze);
  border: 1px dashed black;
  border-bottom: 0;
}

.skos {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 5.2cm solid transparent;
  border-top: calc(var(--sciana_wys) - var(--sciana_prawa_wys)) solid black;
}

.skos2 {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border-left: var(--skos_sze) solid transparent;
  border-top: 10cm solid white;
}

.gora_polka {
  position: absolute;
  width: var(--gora_polka_sze_pierwsza);
  height: var(--gora_polka_wys);
  left: 0;
  border: var(--plyta) solid var(--plyta_color_biala);
}
.gora_polka + .gora_polka {
  border-left: 0;
  width: var(--gora_polka_sze);
}

.lewe_polki {
  position: absolute;
  width: var(--lewa_polka_sze);
  left: 0;
  top: 0;
  border-right: var(--plyta) solid var(--plyta_color_biala);
  border-top: var(--plyta) solid var(--plyta_color_biala);
  display: flex;
  flex-direction: column;
}

.lewa_polka {
  width: 100%;
  border-bottom: var(--plyta) solid var(--plyta_color_biala);
  height: var(--lewa_polka_wys);
}

.ikea_gora {
  position: absolute;
  width: 100%;
  height: var(--plyta);
  bottom: var(--drzwi_wys);
  border: var(--plyta) solid var(--plyta_color_biala);
  border-top: 0;
}
.ikea_pion {
  position: absolute;
  width: var(--ikea_sze);
  height: calc(var(--drzwi_wys) - var(--plyta));
  bottom: var(--plyta);
  left: var(--drzwi_prawa);
  border-left: var(--plyta) solid var(--plyta_color_biala);
}
.ikea_pion + .ikea_pion {
  left: calc(var(--drzwi_prawa) + var(--ikea_sze));
  border-right: var(--plyta) solid var(--plyta_color_biala);
  width: calc(var(--ikea_sze) + var(--plyta));

}
.ikea_dol {
  position: absolute;
  bottom: 0;
  left: var(--drzwi_prawa);
  height: var(--plyta);
  width: calc(var(--ikea_sze) * 2 + var(--pion_prawy) + var(--plyta));
  border: var(--plyta) solid var(--plyta_color_biala);
  border-top: 0;
}

/* .pion_wstawki {
  position: absolute;
  bottom: var(--plyta);
  left: var(--ikea_prawa);
  display: flex;
  flex-direction: column;
}
.wstawka {
  width: calc(var(--wstawka_sze) + var(--plyta) * 2);
  height: calc(var(--wstawka_wys) + var(--plyta) * 2);
  border: var(--plyta) solid var(--plyta_color_ciemna);
}
.pion_wstawki > .wstawka + .wstawka {
  border-top: 0;
  height: calc(var(--wstawka_wys) + var(--plyta));
} */

.pion_prawy {
  position: absolute;
  bottom: var(--plyta);
  left: calc(var(--ikea_prawa));
  width: calc(var(--pion_prawy));
  height: var(--pion_prawy_wys);
  border-right: var(--plyta) solid var(--plyta_color_biala);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.pion_prawy > .pion_prawy_polka {
  width: 100%;
  height: 3.5cm;
  border-top: var(--plyta) solid var(--plyta_color_biala);
}

.info {
  --topOffset: 1.7cm;
  position: absolute;
  top: calc(100% + var(--topOffset));
  left: 50%;
  width: 4cm;
  border: 1px dotted grey;
  padding: 3px;
}
.info::before {
  content: '';
  position: absolute;
  width: .3cm;
  height: .3cm;
  border-radius: 50%;
  top: calc(-1 * var(--topOffset) - .62cm);
  left: -.25cm;
  background-color: #ccc;
  z-index: -1;
}
.info::after {
  content: '';
  position: absolute;
  width: 3cm;
  height: 2px;
  top: calc(-1 * var(--topOffset) - .45cm);
  left: 0;
  transform: rotate(45deg);
  transform-origin: left top;
  background-color: #ccc;
  z-index: -1;
}
.info.left {
  left: auto;
  right: 50%;
}
.info.left::after {
  left: auto;
  right: 0;
  transform: rotate(-45deg);
  transform-origin: right top;
}
.info.left::before {
  left: auto;
  right: -.25cm;
}

.wykroje {
  position: absolute;
  left: calc(var(--sciana_sze) + 2.6cm);
  top: 2cm;
  line-height: 1.6rem;
  counter-reset: wykroje;
}
.wykroje .wykroj {
  white-space: nowrap;
}
.wykroje td:not(.no-border) {
  border: 1px solid #ccc;
  padding: 0 .1rem;
}
.wykroje td:nth-child(n+2) {
  text-align: center;
}
.wykroje [data-cutter-count]:not(.no-count)::before {
  counter-increment: wykroje;
  content: counter(wykroje) "." "\00a0";
}
.wykroje [data-cutter-amount] {
  text-align: center;
}
.wykroje [data-cutter-name]::after {
  content: attr(data-cutter-name);
}
.wykroje [data-cutter] {
  text-align: center;
}
.wykroje [data-cutter]::after {
  content: "cm";
}
