.deska {
  position: absolute;
  background-color: #aaa;

  &.drewno {
    background-color: #ff8133;
  }
}

.helper {
  position: absolute;

  &.pozioma {
    height: calc(100% + 4cm);
    width: 1px;
    top: -2cm;
    border-left: 1px dashed #ccc;

    &.left {
    }

    &.right {
    }

  }
}