.deska {
  position: absolute;
  background-color: #cbcbcb;
  border: 1px solid #666666;

  &.pionowa {
  }

  &.pozioma {
  }

  &.drewno {
    background-color: #fdb284;
  }
}

.helper {
  position: absolute;

  &.pozioma {
    height: calc(100% + 4cm);
    width: 1px;
    top: -2cm;
    border-left: 1px dashed #ccc;

    &.left {
    }

    &.right {
    }

  }
}